.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 3vw;
    width: 40vw;
    margin-left: 5vw;
    display: flex;
    align-items: center;
    padding: 1.5vw;
    border-radius: 20px;
    background-color: rgba(0, 255, 47, 0.3); /* 透明蓝色框 */
    cursor: pointer; /* 鼠标指针样式 */
    transition: background-color 0.3s; /* 过渡效果 */
    text-decoration: none; /* 移除默认链接样式 */
    color: #333; /* 文字颜色 */
    margin-right: 1vw;
}

.card:hover {
    background-color: rgba(0, 256, 58, 0.6); /* 鼠标悬停时的背景颜色 */
}

.card .logo {
    height: 5vw; /* logo 高度 */
    width: height; /* logo 宽度 */
    margin-right: 1em;
}

.card .photo{
    height: 5vw; /* logo 高度 */
    width: height; /* logo 宽度 */
    border-radius: 50%; /* 圆形边框 */
}

.card .info {
    flex: 1; /* 自动填充剩余空间 */
}

.card .info h2 {
    margin-top: 1vw;
    font-size:2vw ; /* 网页名称字体大小 */
}

.card .info p {
    margin-top: -0.5vw;
    font-size: 1.5vw; /* 简短介绍字体大小 */
}